.flex {
    display: flex
}

.f-wrap {
    flex-wrap: wrap
}

.f-row {
    flex-direction: row
}

.f-rr {
    flex-direction: row-reverse
}

.f-col {
    flex-direction: column
}

.f-auto {
    flex: 1
}

.f-jc {
    justify-content: center
}

.f-jb {
    justify-content: space-between
}

.f-jar {
    justify-content: space-around
}

.f-jed {
    justify-content: flex-end
}

.f-ac {
    align-items: center
}

.f-aed {
    align-items: flex-end
}

.f-ast {
    align-items: flex-start
}

.el-vo {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important
}

.el-vo2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /*! autoprefixer: off */
    -webkit-box-orient: vertical
}

.el-vo3 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /*! autoprefixer: off */
    -webkit-box-orient: vertical
}

.el-vo4 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /*! autoprefixer: off */
    -webkit-box-orient: vertical
}

.default-theme .sidebar-brand {
    text-align: center;
    line-height: 60px;
    font-size: 18px;
    color: #fff !important
}

#right-sidebar.blockRight {
    background-color: #4E3F6C
}

#right-sidebar.blockRight .sidebar-title {
    background-color: #4E3F6C;
    color: #fff
}

#right-sidebar.blockRight .setings-item {
    color: #fff
}

.searchbar.hide {
    display: none
}

div.footer {
    display: none
}

div.footer.fixed {
    display: block
}

.nav-second-level li a:hover {
    background-color: rgba(255, 255, 255, 0.1) !important
}

.nav-second-level li a.active {
    background-color: rgba(255, 255, 255, 0.1) !important
}

.menu-link.active {
    background-color: rgba(255, 255, 255, 0.1) !important
}

.baobiao {
    padding: 10px;
    padding-bottom: 30px
}

table tr th {
    text-align: center;
    color: #333;
    font-weight: normal
}

table thead th .th-inner {
    padding: .6rem !important
}

table tbody tr td {
    padding: .6rem !important;
    color: #666
}

.baobiao .search-item-box {
    display: inline-block;
    vertical-align: middle
}

.baobiao .search-item-box input, .baobiao .search-item-box select {
    margin-bottom: 5px;
    width: 150px !important;
    height: 30px !important;
    padding: 2px 5px !important;
    vertical-align: middle
}

.baobiao .search-item-box button {
    margin-bottom: 5px;
    margin-left: 10px;
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    border-radius: 4px !important;
    font-size: 16px !important
}

.xianshi .data-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between
}

.xianshi .data-display {
    padding: 30px 20px 10px;
    margin-bottom: 20px;
    width: 48%;
    min-width: 150px;
    background: #fff url(/tp5/public/static/img/bg.png) repeat-x;
    background-size: 100% 20px;
    background-position: top center;
    border-radius: 5px;
    box-sizing: border-box
}

.xianshi .data-display .title-box {
    font-size: 16px;
    color: #333
}

.xianshi .data-display .value-box {
    margin-top: 6px;
    font-size: 14px;
    color: #666
}

.user-info {
    padding: 10px;
    box-sizing: border-box
}

.quxian {
    padding: 10px;
    padding-bottom: 30px;
    background-color: #fff
}

.quxian h2 {
    font-size: 24px;
    font-weight: bold
}

.quxian #main, .quxian #humidity {
    border-color: #ebebeb !important
}

.quxian .search-item-box {
    display: inline-block;
    vertical-align: middle
}

.quxian .search-item-box input, .quxian .search-item-box select {
    margin-bottom: 5px;
    width: 150px !important;
    height: 30px !important;
    padding: 2px 5px !important;
    vertical-align: middle
}

.quxian button {
    margin-bottom: 5px;
    margin-left: 10px;
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    border-radius: 4px !important;
    font-size: 16px !important
}

.baojing-form {
    padding: 20px
}

.baojing-form h2 {
    text-align: center;
    color: 666;
    font-size: 24px;
    margin-bottom: 30px
}

.baojing-form #parameterForm {
    margin: 0 auto;
    width: 60%;
    min-width: 200px
}

.baojing-form #parameterForm .col-form-label.text-danger {
    display: none
}

@media screen and (max-width: 600px) and (min-width: 341px) {
    .xianshi .data-display {
        padding-left: 10px;
        padding-right: 10px;
        width: 45%;
        min-width: 100px
    }

    table thead th .th-inner {
        padding: .3rem !important
    }

    table tbody tr td {
        padding: .3rem !important
    }

    .baobiao table tbody td:first-of-type {
        white-space: nowrap
    }

    .fixed-table-pagination {
        font-size: 12px;
        color: #666
    }
}

@media screen and (max-width: 340px) {
    .xianshi .data-display {
        margin: 0 auto;
        margin-bottom: 20px;
        padding-left: 10px;
        padding-right: 10px;
        width: 90%;
        min-width: 100px
    }

    table thead th .th-inner {
        padding: .3rem !important
    }

    table tbody tr td {
        padding: .3rem !important
    }

    .baobiao table tbody td:first-of-type {
        white-space: nowrap
    }

    .fixed-table-pagination {
        font-size: 12px;
        color: #666
    }
}

@media (max-width: 768px) {
    .body #page-wrapper {
        position: relative !important;
        margin: 0 0 0 0px;
        min-height: 100vh
    }

    .navbar-static-side {
        z-index: 2001;
        position: absolute;
        width: 200px
    }

    body.body-show-nav .breadcrumb-item, body.body-show-nav .breadcrumb-item a {
        padding-left: 3px;
        padding-right: 3px
    }

    body.body-show-nav .navbar-fixed-top {
        left: 200px
    }

    body.body-show-nav .sidebar-brand.fixed-brand {
        width: 200px !important
    }

    body.body-show-nav #page-wrapper {
        position: relative !important;
        margin: 0 0 0 200px;
        min-height: 100vh
    }

    body.body-show-nav .navbar-static-side {
        display: block;
        z-index: 2001;
        width: 200px;
        height: 100%;
        overflow-y: scroll
    }
}

html {
    min-width: 220px
}

.gray-bg, .bg-muted {
    background-color: #d4eff3
}

a {
    color: #6a5091
}

button {
    background-color: #6a5091 !important;
    color: #fff !important
}

.page-link {
    color: #6a5091
}

.page-item.active .page-link {
    background-color: #6a5091;
    border-color: #6a5091
}

.custom-control-input:checked ~ .custom-control-label::before {
    border-color: #6a5091;
    background-color: #6a5091
}

.close {
    background-color: transparent !important;
    color: #000 !important
}