<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>shishixianshi</title>
    <link href="/tp5/public/static/css/cust.css" rel="stylesheet">
</head>
<body class="xianshi">

<div class="data-container">
    <div class="data-display"> 
	  <div class="title-box">库房1   f20探头1</div>
	  <div class="value-box">温度{$data[0]["X11"]}℃</div>
      <div class="value-box">温度{$data[0]["X12"]}%</div>
     
    </div>
    <div class="data-display">  
        <div class="title-box">库房1   f20探头2</div>
        <div class="value-box">温度{$data[0]["X13"]}℃</div>
        <div class="value-box">温度{$data[0]["X14"]}%</div>
    </div>
   
    
</div>

</body>
</html>